div{
    height: 100vh;
    width: 100vw;
    background-color: purple;
}

p{
    height: 100px;
    width: 100px;
    background-color: sandybrown;
    /* top right bottom left */
    margin:10px 20px 30px 40px; 
    position: relative;
    /* relative to current position */
    left: 5px;
    border-color: gray;
    border-style: dashed;
    border-width: 2px;
    /* or botder: gray 10px dashed */
/* top right, bottom, left */
    padding :10px 0px 10px;
    background-color: blue
}
/* use of fix, eveyrthing else will move while scrolling, usually in px  */